.tab{
    /* border: 1px solid gray;  */
}
.tab ul{
    list-style-type:none;
    padding: 5px 0;
}

.flex-fil  {
   padding: 0 16px ;

}

.tab ul li:hover {
 color: black;
 cursor: pointer;
 background-color: white;
}
.content {
    display: none;
}
.show-content{
    display: block;;
}